In [67]:
import numpy as np
import pandas as pd
import os
import math

# Operation Code

In [2]:
import numpy as np
import pandas as pd
import os
import math

fout_type = '.xlsx'
#['csv', 'json', 'html', 'xlsx', 'xls', 'xlsb']
fin_type = '.xlsb'
#['csv', 'json', 'html', 'xlsx', 'xls', 'xlsb']

f_lst = os.listdir()
df = pd.DataFrame()
for f in f_lst:
        if ((f[-5::] == '.xlsx') or (f[-5::] == '.xlsb') or (f[-4::] == '.xls')):
            df = df.append(pd.read_excel(f), ignore_index=True)
            
        elif f[-4::] == '.csv':
            df = df.append(pd.read_csv(f), ignore_index=True)
            print(f + ' is imported.')
        elif f[-5::] == '.json':
            df = df.append(pd.read_json(f), ignore_index=True)
        elif f[-5::] == '.html':
            df = df.append(pd.read_html(f), ignore_index=True)

            
            
if ((fout_type == '.xlsx') or (fout_type == '.xlsb') or (fout_type == '.xls')):
    rows_per_sheet = 8
    number_of_sheets = math.floor(len(df) / rows_per_sheet)+1
    start_index = 0
    end_index = rows_per_sheet
    writer = pd.ExcelWriter('Combined result'+fout_type)
    for i in range(number_of_sheets):
        df = pd.DataFrame(df[start_index:end_index], columns = df.columns)
        df.to_excel(writer, index=False, sheet_name='Sheet_'+str(i+1))
        start_index = end_index + 1
        end_index = end_index + rows_per_sheet
    writer.save()
elif fout_type == '.csv':
    df.to_csv('Combined result'+fout_type, index=False)
elif fout_type == '.html':
    df.to_html('Combined result'+fout_type)
elif fout_type == '.json':
    df.to_json('Combined result'+fout_type)
print('Operation completed.')

Operation completed.

In [3]:
import numpy as np
import pandas as pd
import os
import math

fout_type = '.xlsx'
#['csv', 'json', 'html', 'xlsx', 'xls', 'xlsb']
fin_type = '.xlsb'
#['csv', 'json', 'html', 'xlsx', 'xls', 'xlsb']

f_lst = os.listdir()
df = pd.DataFrame()
for f in f_lst:
    if ((f[-5::] == '.xlsx') or (f[-5::] == '.xlsb') or (f[-4::] == '.xls')):
        df = df.append(pd.read_excel(f), ignore_index=True)
            
    elif f[-4::] == '.csv':
        df = df.append(pd.read_csv(f), ignore_index=True)
        print(f + ' is imported.')
    elif f[-5::] == '.json':
        df = df.append(pd.read_json(f), ignore_index=True)
    elif f[-5::] == '.html':
            df = df.append(pd.read_html(f), ignore_index=True)

            
if ((fout_type == '.xlsx') or (fout_type == '.xlsb') or (fout_type == '.xls')):
    df.to_excel('Combined result'+fout_type, index=False)
elif fout_type == '.csv':
    df.to_csv('Combined result'+fout_type, index=False)
elif fout_type == '.html':
    df.to_html('Combined result'+fout_type)
elif fout_type == '.json':
    df.to_json('Combined result'+fout_type)
print('Operation completed.')

Operation completed.

In [4]:
df

          Name   ID  Score Roll number
0   Kyaw Kyaw   142     35       St-31
1   Kyaw Kyaw   142     35       St-31
2   Kyaw Kyaw   142     35       St-31
3        Mu Mu  103     51       St-22
4        Mu Mu  103     51       St-22
..         ...  ...    ...         ...
64       Su Su   59     88       St-23
65     Thu Thu   94     73       St-35
66     Thu Thu   94     73       St-35
67       Su Su   59     88       St-23
68       Su Su   59     88       St-23

[69 rows x 4 columns]

In [5]:
rows_per_sheet = 8
number_of_sheets = math.floor(len(df) / rows_per_sheet)+1
start_index = 0
end_index = rows_per_sheet
writer = pd.ExcelWriter('Result.xlsx')
for i in range(number_of_sheets):
    dfn = pd.DataFrame(df[start_index:end_index], columns = df.columns)
    dfn.to_excel(writer, index=False, sheet_name='Sheet_'+str(i+1))
    start_index = end_index + 1
    end_index = end_index + rows_per_sheet
writer.save()

In [74]:
for i in range(number_of_sheets):
    print(i)

0
1
2

In [ ]:
rows_per_sheet = 8
number_of_sheets = math.floor((len(df)/rows_per_sheet))+1
start_index=0
end_index = rows_per_sheet
writer = pd.ExcelWriter(filename)
for i in range(number_of_sheets):
    df = pd.DataFrame(list(data[start_index:end_index]), columns=columns)
    df.to_excel(writer, index=False, sheet_name='sheet_'+str(i))
    start_index = end_index
    end_index = end_index + rows_per_sheet
    

writer.save()

In [70]:
x = 2.5345
math.floor(x)

2

In [47]:
import numpy as np
import pandas as pd
import os

fout_type = '.xlsx'
#['csv', 'json', 'html', 'xlsx', 'xls', 'xlsb']
fin_type = '.csv'
#['csv', 'json', 'html', 'xlsx', 'xls', 'xlsb']

#site_ids = input('Enter "Site ID":')
site_ids = 'UTSGG00164(OA)(113) UTSGG00142(OA)(114) UTSGG01118(OA)(169) UTSGG00828(OA)(463) UTSGG00865(OA)(479)'
site_ids = site_ids.split(' ')


f_lst = os.listdir()
df = pd.DataFrame()
for f in f_lst:
        if ((f[-5::] == '.xlsx') or (f[-5::] == '.xlsb') or (f[-4::] == '.xls')):
            df = df.append(pd.read_excel(f), ignore_index=True)
        elif f[-4::] == '.csv':
            data = pd.read_csv(f, usecols=['Start Time','NodeB Name', '903477:CSTraffic(erl)-y', '903478:PSTraffic(MB)-y'])
            for site in site_ids:
                dfc = data[data['NodeB Name'] == site]
                df = df.append(dfc, ignore_index=True)
            print(f + ' is imported.')
        elif f[-5::] == '.json':
            df = df.append(pd.read_json(f), ignore_index=True)
        elif f[-5::] == '.html':
            df = df.append(pd.read_html(f), ignore_index=True)

            
            
if ((fout_type == '.xlsx') or (fout_type == '.xlsb') or (fout_type == '.xls')):
    df.to_excel('Combined result'+fout_type, index=False)
elif fout_type == '.csv':
    df.to_csv('Combined result'+fout_type, index=False)
elif fout_type == '.html':
    df.to_html('Combined result'+fout_type)
elif fout_type == '.json':
    df.to_json('Combined result'+fout_type)
print('Operation completed.')

ZTE Cell Level Backup_Daily_April_2022 (UMTS)_April 01 to 16.csv is imported.
ZTE Cell Level Backup_Daily_Dec_2022(UMTS)_Dec 1 to 15.csv is imported.
ZTE Cell Level Backup_Daily_Feb_2022 (UMTS)_Feb 16 to 28.csv is imported.
ZTE Cell Level Backup_Daily_Jan_2023(UMTS)_Jan 16 to 31.csv is imported.
ZTE Cell Level Backup_Daily_July_2022(UMTS)_16 to 31.csv is imported.
ZTE Cell Level Backup_Daily_June_2022 (UMTS)_June 17 to 30.csv is imported.
ZTE Cell Level Backup_Daily_March_2022 (UMTS)_March 16 to 31.csv is imported.
ZTE Cell Level Backup_Daily_May_2022 (UMTS)_May 16 to 31.csv is imported.
ZTE Cell Level Backup_Daily_Nov_2022(UMTS)_Nov 16 to 30.csv is imported.
ZTE Cell Level Backup_Daily_Oct_2022(UMTS)_Oct  16 to 31.csv is imported.
ZTE Cell Level Backup_Daily_Sept_2022(UMTS)_Sept 16 to 30.csv is imported.
ZTE Cell Level Backup_Daiy_August_2022(UMTS)_Aug 16 to 31.csv is imported.
Operation completed.

In [21]:
site_ids = 'UTSGG00164(OA)(113) UTSGG00142(OA)(114) UTSGG01118(OA)(169) UTSGG00828(OA)(463) UTSGG00865(OA)(479)'
site_ids = site_ids.split(' ')
site_ids

['UTSGG00164(OA)(113)',
 'UTSGG00142(OA)(114)',
 'UTSGG01118(OA)(169)',
 'UTSGG00828(OA)(463)',
 'UTSGG00865(OA)(479)']

In [ ]:
df[df['SITE Name'] == 'GNSGG00575(29)'].head()

In [4]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1'], dtype='object')

In [ ]:
import pandas as pd

def splitframe(data, name='name'):
    
    n = data[name][0]

    df = pd.DataFrame(columns=data.columns)

    datalist = []

    for i in range(len(data)):
        if data[name][i] == n:
            df = df.append(data.iloc[i])
        else:
            datalist.append(df)
            df = pd.DataFrame(columns=data.columns)
            n = data[name][i]
            df = df.append(data.iloc[i])
        
    return datalist

In [52]:
df1 = pd.read_csv('ZTE Cell Level Backup_Daily_Jan_2023(UMTS)_Jan 16 to 31.csv', usecols=['Start Time','NodeB Name', '903477:CSTraffic(erl)-y', '903478:PSTraffic(MB)-y'])
df1.shape

(420608, 4)

In [55]:
df_new = df1[df1['NodeB Name'] == 'UTSGG00142(OA)(114)']

In [57]:
df_new['903477:CSTraffic(erl)-y'].unique()

array([0.])

In [49]:
site_ids = 'UTSGG00164(OA)(113) UTSGG00142(OA)(114) UTSGG01118(OA)(169) UTSGG00828(OA)(463) UTSGG00865(OA)(479)'
site_ids = site_ids.split(' ')

In [30]:
dfc = pd.DataFrame()
for site in site_ids:
    data = df1[df1['NodeB Name'] == site]
    dfc = dfc.append(data, ignore_index=True)
dfc.shape

(496, 4)

In [39]:
dfc

,Start Time,NodeB Name,903477:CSTraffic(erl)-y,903478:PSTraffic(MB)-y
0,4/1/2022 0:00,UTSGG00164(OA)(113),0.0,0.0
1,4/1/2022 0:00,UTSGG00164(OA)(113),0.0,0.0
2,4/1/2022 0:00,UTSGG00164(OA)(113),0.0,0.0
3,4/1/2022 0:00,UTSGG00164(OA)(113),0.0,0.0
4,4/1/2022 0:00,UTSGG00164(OA)(113),0.0,0.0
...,...,...,...,...
491,4/16/2022 0:00,UTSGG00865(OA)(479),0.0,0.0
492,4/16/2022 0:00,UTSGG00865(OA)(479),0.0,0.0
493,4/16/2022 0:00,UTSGG00865(OA)(479),0.0,0.0
494,4/16/2022 0:00,UTSGG00865(OA)(479),0.0,0.0
495,4/16/2022 0:00,UTSGG00865(OA)(479),0.0,0.0

In [ ]:
from tkinter import *

In [ ]:
root = Tk()

root.title('File Combiner_by HAL')
#root.geometry('500x200')
root.resizable
root.resizable(0,0)

label1 = Label(root, text='Please select your file type.').grid(row=0,column=2,columnspan=3)
entry1 = Entry(root


btn_exit = Button(root, text='Exit', command=root.destroy)

btn_exit.grid(row=4,column=1)

root.mainloop()